.swiper {
  z-index: -1;
}

.swiper-wrapper {
  display: flex;
}
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img-slide {
  border: 1px solid var(--paleChestnut);
}
